.notifs-div{
    padding-top: 3rem;
}
.home-content-grid{
    padding-top: 2rem;
}

.home-content-grid-item {
    background-color: #1890FF;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    padding: 3rem;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
}